@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');
@import "./breakpoints.scss";
$small: 380px;


.app{
    max-width: 1400px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 100px auto;
    overflow: hidden;
    
        .columns{
            display: inline-block;
            flex-wrap: wrap;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 30px 0;
            @include media('<=phone'){
                height: 1270px;
                box-sizing: border-box;
  
            }

            
            img{
                width: 456px;
                height: 456px;
                margin-left: 2px;
                overflow: hidden;
                @include media('<=phone'){
                    width: 360px;
                    height: 360px;
                }
            }// img
            .col2{
                display:inline-block;
                width: 526px;
                height: 544px;
                overflow: hidden;
                @include media('<=phone'){
                    height: 570px;
                }
                .top{
                    display: flex;
                    padding-left: 5px;
                .t1{
                    width: 90px;
                    height: 20px;
                    font-family: 'roboto', sans-serif;
                    font-size: 12px;
                    font-weight: regular;
                    text-align: left;
                    line-height: 16px;
                    background-image: linear-gradient(45deg,rgb(245, 126, 47),rgb(241, 98, 122));
                    border-radius: 2px 0 0 2px;
                    display: flex;
                    color: white;
                    padding-left: 9px;
                    padding-top: 3px;
                }
                .t2{
                    width: 75px;
                    height: 20px;
                    font-family: 'roboto', sans-serif;
                    font-size: 12px;
                    font-weight: regular;
                    text-align: left;
                    line-height: 16px;
                    background-color: rgb(255, 230, 215);
                    border-radius: 2px 0 0 2px;
                    display: flex;
                    color: #FF6600;
                    padding-left: 9px;
                    padding-top: 3px;
                    i{
                        padding-right: 5px;
                    }
    
                }
                .t3{
                    width: 106px;
                    height: 20px;
                    font-family: 'roboto', sans-serif;
                    font-size: 12px;
                    font-weight: regular;
                    text-align: left;
                    line-height: 16px;
                    background-color: rgb(255, 230, 215);
                    border-radius: 2px 0 0 2px;
                    display: flex;
                    color: #FF6600;
                    padding-left: 9px;
                    padding-top: 3px;
                    i{
                        padding-right: 5px;
                    }
    
                }
            } // --------------------------------------------------------------------------tops---------------------------------------
            .name{
                margin-top: 4px;
                padding-left: 5px;
                h2{
                    color: #333333;
                    font-weight: regular;
                    text-align: left;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    line-height: 24px;
                    //display: flex;
                    padding-right: 1px;
                   
                    
                    
                }
                .tag{
                    width: 111px;
                    height: 20px;
                    color: #999999;
                    font-family: 'Roboto', sans-serif ;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: left;
                    font-weight: 400;
                    justify-content: space-between;
                    margin-right: 30px;


    
                    border:1px solid #e6e6e6;
                    border-left-width: 15px;
                    border-right-width: 15px;
                    
                    //display: inline-block;
                    background-color:#e6e6e6;
                }
    
            }//----------------------------------------------------------name end ------------------------
            .review{
                padding-left: 5px;
                .rating{
                    color: #FF6600;
                    text-align: left;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                }
                .review{
                    color: #999999;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    line-height: 10px;
                    padding-left: 10px;
                    padding-right: 30px;
                }
                .buyers{
                    color: #333333;
                    font-size: 12px;
                    line-height: 16px;
                    padding-right: 14px;
                    font-weight: 600;
                }    
            }//-----------------------------------review end----------------------------------
            .row3{
                padding-top: 8px;
                padding-left: 5px;
                width: 526;
                display: flex;
                height: 64px;
                border-top: #E6E7EB;
                border-bottom: #E6E7EB;
                box-shadow: inset 0 1px 0 0 #E6E7EB, inset 0 -1px 0 0 #E6E7EB;
                @include media('<=phone') {
                        width: 356px;
                        height: 64px;
                    }

                
                .pprice{
                    font-size: 16px;
                    font-weight: bold;
                    color: #FF6600;
                    display: flex;
                    padding-left: 2px;
                    @media screen and (max-width: 320px) {
                        .pprice{
                            width: 20px;
                        }
                    }
                }
                .option{
                    color: #999999;
                    font-size: 14px;
                    font-family: 'Roboto' , sans-serif;
                    font-weight: regular;
                    padding-left: 10px;
                    padding-top: 1.5px;
                    @media screen and (max-width: 320px) {
                        .option{
                            font-size: 16pt;
                        }
                    }
                    //display: flex;
                }
                .aoption{
                    color: #333333;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 16px;
                    text-align: left;
                    padding-left: 10px;
                    padding-top: 1.5px;
                    display: inline-block;
                }
            } // ----------------------------------------------row 3 end --------------
            .row4{
                padding-top: 3px;
                width: 160px;
                height: 16px;
                padding-left: 8px;
                position: relative;
                bottom: 40px;

                .oldprice{
                    color: #999999;
                    font-size: 14px;
                    font-family: 'Roboto', sans-serif;
                    line-height: 16px;
                    text-decoration: line-through;
                    display: block;
                    @include media('<=phone'){
                        position: relative;
                        left: 4px;
                        top: 1px;
                    }

                }

            }
            .row5{
                display: flex;
                padding: px;
                padding-bottom: 20px;
                margin: 1px;
                margin-right: 1010px;
                background-color: rgb(255, 235, 217) ;
                width: 526px;
                height: 40px;
                padding-left: 5px;
                @include media('<=phone'){
                    width: 330px;
                    position: relative;
                    left: 10px;
                }
                
    
               
                img{
                    
                    width: 76px;
                    height: 40px;
                    display: block;
                    position: relative;
                    right: 8px;
                    @include media('<=phone'){
                        position: relative;
                        right: 7px;
                    }
                }
                ul1{
                    color: #FF6600;
                    padding-left: 15px;
                    padding-top: 14px;
                    font-size: 14px;
                    font-weight: regular;
                    font-family: 'roboto', sans-serif;
                    text-align: left;
                    display: block;
    
                }
                ul2{
                    
                    color: #FF6600;
                    padding-left: 15px;
                    padding-top: 12px;
                    font-size: 14px;
                    font-weight: regular;
                    font-family: 'roboto', sans-serif;
                    text-align: left;
                    display: block;
                    @include media('<=phone'){
                        font-size: 0px;
                    }
                }
                i{
                    color: #FF6600;
                    height: 14px;
                    width: 8px;
                    position: relative;
                    top: 10px;
                    left: 20px;
                    //padding-left: 30px;
                    @include media('<=phone'){
                        width: 8pt;
                        height: 14pt;
                        position: relative;
                        top: 13px;
                        left: 20px;
                        
                     
                    }
                    
                }
    
            } //------------------------------row 5 End ---------------------------
            .row6{
                display: flex;
                padding-top: 15px;
                padding-left: 5px;
                @include media('<=phone'){
                    padding-left: 10px;
                }
            .p{
                color: #FF6600;
                font-size: 12px;
                font-weight: regular;
                line-height: 16px;
                font-family: 'roboto',sans-serif;
                padding-top: 3px;
            }
            .end{
                color: #999999;
                font-size: 14px;
                text-align: left;
                font-weight: regular;
                font-family: 'roboto', sans-serif;
                padding-left: 5px;
                padding-top: 3px;
            }
            .count{
                font-size: 16px;
                color: #999999;
                font-style: italic;
                font-family: 'roboto', sans-serif;
                padding-left: 35px;
                font-weight: 600;
                
                i{
                    padding-right: 5px;
                }
            }
    
        } // ------------------------row 5 End --------------------------
        .column{
            display: flex;
            padding-top: 30px;
            .op1{
                font-size: 14px;
                font-weight: regular;
                font-family: 'roboto', sans-serif;
                color: #999999;
                padding-top: 13px;
                @include media('<=phone'){
                    color: white;
                }
            }
            .s1{
                font-size: 14px;
                color: #333333;
                font-weight: regular;
                font-family: 'roboto', sans-serif;
                text-align: left;
                padding-left: 60px;
                padding-top: 13px;
                @include media('<=phone'){
                    position: relative;
                    right: 100px;
                }
            }
            .s2{
                font-size: 14px;
                font-weight: regular;
                color: #333333;
                font-family: 'roboto', sans-serif;
                text-align: left;
                padding-left: 130px;
                padding-top: 15px;
                @include media('<=phone'){
                    position: relative;
                    right: 110px;
                }
            }
        }
        .column2{
            display: flex;
            padding-top: 10px;
            p{
                font-size: 14px;
                color: #333333;
                font-weight: regular;
                font-family: 'roboto', sans-serif;
                text-align: left;
                padding-left: 115px;
                padding-top: 13px;
                position: relative;
                top: 16px;
                right: 2px;
                @include media('<=phone'){
                    position: relative;
                    right: 100px;
                }
            }
            .s3{
                font-size: 14px;
                font-weight: regular;
                color: #333333;
                font-family: 'roboto', sans-serif;
                text-align: left;
                padding-left: 146px;
                padding-top: 15px;
                @include media('<=phone'){
                    position: relative;
                    right: 110px;
                }
            }
        }// -----------------------------------------column 2 End ---------------------------------------
        .column3{
            display: flex;
            padding-top: 10px;
            p{
                font-size: 14px;
                color: #333333;
                font-weight: regular;
                font-family: 'roboto', sans-serif;
                text-align: left;
                padding-left: 111px;
                padding-top: 13px;
                position: relative;
                top: 32px;
                @include media('<=phone'){
                    position: relative;
                    right: 100px;
                }
            }
            .s4{
                font-size: 14px;
                font-weight: regular;
                color: #333333;
                font-family: 'roboto', sans-serif;
                text-align: left;
                padding-left: 33px;
                padding-top: 15px;
                position: relative;
                top: 30px;
                @include media('<=phone'){
                    position: relative;
                    right: 110px;
                }
            }
            
        }//------------------------------------------------column 3 end ---------------------------------
        .footer{
            display: flex;
            position: relative;
            top: 70px;
            margin-left: 2px;
            img{
                width: 12px;
                height: 14px;
            }
            
            p{
                font-size: 12px;
                font-weight: regular;
                color: #999999;
                font-family: 'roboto', sans-serif;
                b{
                    font-size: 14px;
                    font-family: 'roboto', sans-serif;
                    text-align: left;
                    line-height: 16px;
    
                }
    
            }
        }//-----------------------------------------footer End -------------------------------
        .footer2{
            display: flex;
            position: relative;
            top: 85px;
            margin-left: 4px;
            @include media('<=phone'){
                position: relative;
                bottom: 20px;
            }
            p{
                font-size: 12px;
                font-weight: regular;
                line-height: 16px;
                text-align: left;
                color: #999999;
                font-family: 'roboto', sans-serif;
            }
            img{
                width: 17px;
                height: 12px;
                padding-right: 1px;
                padding-left: 3px;
            }
            .apple{
                width: 28px;
                height: 12px;
            }
        } //----------------------------------------Footer 2 End-------------------------

        .footer3{
            display: flex;
            position: relative;
            margin-left: 4px;
            top: 95px;
            p{
                font-size: 12px;
                text-align: left;
                line-height: 16px;
                font-family: 'roboto', sans-serif;
                color: #999999;
                font-weight: regular;
                p2{
                    padding-left: 10px;
                }
            }
        }
            } // col2------------------------------------------------------------ end -----------------------------------------------------

            //---------------------------------------------------------------column 3 --------------------------------------------------------------------------------
            .col3{
                display:inline-block;
                width: 306px;
                height: 256px;
                margin-left: 24px;
                margin-right: 72px;
                box-shadow: 0 0 5px #ccc;
                 @include media('<=phone'){
                    margin-left: 67px;
                    
                }
                .ship{
                    color: #999999;
                    font-weight: regular;
                    font-size: 14px;
                    font-family: 'roboto', sans-serif;
                    line-height: 16px;
                    height: 32px;
                    width: 132px;
                    float: left;
                    margin-left: 20px;
                    margin-top: 20px;
                    p{
                        text-decoration: underline;
                        font-weight: regular;
                    }
                    @include media('<=phone'){
                        margin-left: 2px;
                        position: relative;
                        
                        
                    }
        
                }//-------------------------------------ship end ----------------------------
                .cost{
                    color: #333333;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 24px;
                    text-align: right;
                    font-family: 'robto', sans-serif;
                    width: 78px;
                    height: 24px;
                    position: relative;
                    top: 16px;
                    left: 20px;
                    @include media('<=phone'){
                        position: relative;
                        right: 20px;
                    }
                   
                }//------------------------------------------------cost---------------------------
                .lead{
                    color: #999999;
                    font-family: 'Roboto', sans-serif;
                    font-weight: regular;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: left;
                    display: block;
                    position: relative;
                    top: 70px;
                    right: 130px;
                    img{
                        width: 18px;
                        height: 14px;
                        padding-left: 4px;
                        @include media('<=phone'){
                            position: relative;
                            left: 130px;
                            bottom: 16px;
                        }
                    }
                }//------------------------------------lead end ------------------
                .time{
                    color: #999999;
                    font-family: Roboto;
                    width: 140px;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: left;
                    position: relative;
                    top: 79px;
                    right: 130px;
                    img{
                        width: 14px;
                        height: 14px;
                        position: relative;
                        left: 315px;
                        bottom: 19px;
                        @include media('<=phone'){
                            position: relative;
                            left: 4px;
                            bottom: 1px;
                        }
                    }
                    @include media('<=phone'){
                        position: relative;
                        left: 4px;
                        bottom: 100px;
                    }
            
                }//---------------------------------------time end -----------------------
                .buttons{
                    display: block;
                    font-size: 14px;
                    font-family: 'roboto', sans-serif;
                    font-weight: regular;
                    text-align: center;
                    position: relative;
                    top: 75px;
                    border-color: #FF6600;
                    @include media('<=phone'){
                        margin-top: 2px;
                    }
                    
                    .login{
                        border-radius: 20px;
                        width: 258px;
                        height: 40px;
                        margin-bottom: 10px;
                        border: 1px solid #FF6600;
                        background-color: #FF6600;
                        color: white;
                        &:hover{
                            background-color: white;
                            transition-duration: 0.5s;
                            color: #FF6600;
                        }
                        
                    }
                    .login2{
                        background-color: white;
                        color: #FF6600;
                        border: 1px solid #FF6600;
                        border-radius: 20px;
                        width: 258px;
                        height: 40px;
                        &:hover{
                            background-color: #FF6600;
                            transition-duration: 0.5s;
                            color: white;
                        }
                        i{
                            padding-right: 8px;
                            
                            position: absolute;
                            right: 220px;
                            top: 64px;
             
                        }
                    }
                }
            }// col 3 ----------------------------------------------------column 3 End --------------------------------------------------
        } //limg

}// app 

// counter Component 
.move{
    position: relative;
    bottom: 395px;
    @include media('<=phone'){
        bottom:669px;
        max-width: 180px;
        padding-left: 95px;
        position: relative;
        left: 163px;
    }
    @include media('<=tablet'){
        position: relative;
        bottom: 650px;
    }
.columns2{
    max-width: 526px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin: 100px auto;
    overflow: hidden;
    //-----------------
    display: block;
    margin: 20px auto;
    position: inherit;
    .qty{
        width: 100%;
        display: flex;
        padding-top: 0px;
        position: inherit;
        justify-content: right;
        button{
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid #E6E7EB;
            border-radius: 2px 0 0 2px;
            width: 40px;
            height: 40px;
            &:hover{
                background-color: #FF6600;
                transition-duration: 0.5s;
                color: white;
            }
            
        }
        .plus{
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid #FF6600;
            border-radius: 2px 0 0 2px;
            width: 40px;
            height: 40px;
        }
        h2{
            background-color: rgba(255, 255, 255, 0);
            box-shadow: inset 0 1px 0 0 #E6E7EB, inset 0 -1px 0 0 #E6E7EB;
            width: 80px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999999;
            font-size: 16px;
        }

    }
    .qty2{
        display: flex;
        position: inherit;
        margin-top: 5px;
        justify-content: right;
        top: 13px;
        
        button{
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid #E6E7EB;
            border-radius: 2px 0 0 2px;
            width: 40px;
            height: 40px;
            &:hover{
                background-color: #FF6600;
                transition-duration: 0.5s;
                color: white;
            }
            
        }
        .plus{
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid #FF6600;
            border-radius: 2px 0 0 2px;
            width: 40px;
            height: 40px;
        }
        h2{
            background-color: rgba(255, 255, 255, 0);
            box-shadow: inset 0 1px 0 0 #E6E7EB, inset 0 -1px 0 0 #E6E7EB;
            width: 80px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999999;
            font-size: 16px;
        }
    }
    .qty3{
        display: flex;
        padding-top: 0px;
        position: inherit;
        justify-content: right;
        top: 30px;
        
        button{
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid #E6E7EB;
            border-radius: 2px 0 0 2px;
            width: 40px;
            height: 40px;
            &:hover{
                background-color: #FF6600;
                transition-duration: 0.5s;
                color: white;
            }
            
        }
        .plus{
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid #FF6600;
            border-radius: 2px 0 0 2px;
            width: 40px;
            height: 40px;
        }
        h2{
            background-color: rgba(255, 255, 255, 0);
            box-shadow: inset 0 1px 0 0 #E6E7EB, inset 0 -1px 0 0 #E6E7EB;
            width: 80px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999999;
            font-size: 16px;
        }
    }

}
}// columns 2 

// --------------------------------------------- Countdown ----------------------------------------------------



.timer{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   // justify-content: center;
    //align-items: center;
   // width: 113px;
    height: 24px;
    margin-left: 20px;
    position: relative;
    bottom: 666px;
    @include media('<=phone'){
        position: relative;
        bottom: 940px;
        left: 85px;
    }
    @include media('<=tablet'){
        position: relative;
        bottom: 920px;
        left: 85px;
    }
    
    .clock{
        display: block;
        
        bottom: 675px;
        left: 280px;
        margin: auto;
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-family: 'roboto', sans-serif;
        color: #999999;
        text-decoration: italic;
        line-height: 24px;
    p{
        padding-right: 7px;
    }
    }
}

.load{
    position: relative;
    top: 300px;
    left: 300px;
    text-align: center;
    display: inline-block;
    font-weight: 900;
    font-size: 50px;
    color: #FF6600;

}

